<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Audio Upload 2</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('ADimage1') }}">Home</a> |
        <a href="{{ url_for('ADimage2') }}">Image Upload 2</a> |
        <a href="{{ url_for('ADaudio1') }}">Audio Upload 1</a> |
        <a href="{{ url_for('ADaudio2') }}">Audio Upload 2</a> |
        <a href="{{ url_for('result') }}">Result</a>
    </nav>
    
    <h1>Upload your second audio file</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="file-input" class="file-label">
            Choose an image
        </label>
        
        <button type="submit" class="btn">Upload</button>
    </form>
</body>
</html>
