<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_AD.css') }}">
    <title>Home Page</title>
</head>
<script>
    function handleButtonClick(event) {
      var button = event.target;
      var url = button.getAttribute('href');
      window.location.href = url;
    }
  </script>
<body>
    <nav>
        <!-- nav bar-->
        
        
    </nav>

    <h1>Welcome to SynapticSense</h1>
<p>Upload an image to get started.</p>
<div class="buttons">
    <button type="button" class="btn btn-primary" href="{{ url_for('PDimage1') }}" onclick="handleButtonClick(event)">PD</button> 
    <button type="button" class="btn btn-secondary" href="{{ url_for('ADimage1') }}" onclick="handleButtonClick(event)">AD</button> 
</div>
</form>
</form>
</body>
</html>
