<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <!-- nav bar-->
        <a href="{{ url_for('PDimage1') }}">PD</a> |
        <a href="{{ url_for('ADimage1') }}">AD</a> |
        
    </nav>

    <h1>Wlecome to the APP!</h1>
<p>Upload an image to get started.</p>
<form action = "/predict" method = "post" enctype="multipart/form-data">
    <label for="file-input" class="file-label">
        Choose an image
    </label>
    <input type="file" id="file-input" name="file">
    <button type="submit" class="btn">Upload</button>
</form>
<p id="prediction">{{ prediction }}</p>
</form>
</form>
</body>
</html>
